:root {
    --bg-color: #dddddd;
    --main-color: #339b4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px 0;    
    transition: linear .2s;
}

body {
    background-image: url(/forest.bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

header {
    width: 100%;    
    margin: 20px 0;
    padding: 0 50px;
    text-align: center;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: space-between;
}

header p, header button {
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}
header span{padding: 0 10px;}

header button:hover{background-color: #b9b9b9;}

/*login site*/
.loginArea {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

small {
    color: red;
    padding: 0 5px 5px 5px;
    margin: auto;
    display: flex;
    width: 95%;
    text-align: left;
}

.login {
    margin: 5px 0;
    padding: 20px 10px;
    border: 2px solid var(--bg-color);
    border-radius: 10px 10px 0 0;
    background-color: rgba(225, 225, 225, 0.5);
    width: 400px;
}

#loginBtn {
    width: 95%;
}

.login:hover {border: 2px solid var(--main-color);}
/**/

/*polls*/
.container{
    padding-bottom: 200px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    text-align: center;
    display: none;
}



#pollsContainer {margin-top: 100px;}
.poll {
    font-size: 1.2em;
    background-color: rgba(225, 225, 225, 0.5);
    width: 400px;
    margin: 20px auto;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    padding: 10px 0;
}

.poll:hover {border: 2px solid var(--main-color);}

.option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 5px 0;
    background-color: var(--bg-color);
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid var(--bg-color);
}

.option:hover {border: 1px solid var(--main-color);}

.option button {
    font-weight: bold;
    background-color: rgba(225, 225, 225, 0.5);
    border: 0;
    width: 90%;
    text-align: left;
}
/**/

/*poll creator*/
.form-container {
    padding: 200px 0;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.form-container h1 {
    width: 400px;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.5);
    border: 2px solid var(--bg-color);
    border-radius: 20px 20px 0 0;
    padding: 10px 0;
    margin-bottom: 5px;
}

.form-container h1:hover { border: 2px solid var(--main-color); }

.form-container form{
    width: 100%;
}

#createPollForm {
    background-color: rgba(225, 225, 225, 0.5);
    border: 2px solid var(--bg-color);
    width: 400px;
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

#createPollForm:hover { border: 2px solid var(--main-color); }

.option-input input {
    width: 80%;
    border: none;
    font-size: 1.2em;
}

.option-input{
    width: 90%;
    background-color: #fff;
    margin: 5px auto;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

#pollName {
    margin-bottom: 5px;
    font-size: 1.2em;
    text-align: center;
    width: 90%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

#addOptionButton, #createButton {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px 0 40px 0;
    width: 100%; 
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.9);
    border: 1px solid var(--main-color);
}

#openNclose {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--main-color);
}

#openNclose i{
    font-size: 3em;
}

#openNclose:hover{background-color: #b9b9b9;}

#deletePoll {
    width: 400px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 30px;
    display: flex;
    margin: 10px 0;
}

#delPollBtn:hover {
    color: red;
}

#deletePoll input {
    background-color: transparent;
    font-size: 1.5em;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
}

input, button { padding: 3px;}
h1 {text-transform: uppercase;}

/* media */
@media (max-width: 700px){
    header, header button, header p{
        padding: 10px;
        font-size: 1.3em;
    }

    #createPollForm {width: 95%;}

    .login input {width: 95%;}

    .login {width: 90%;}

    .poll {width: 95%;}

    footer{width: 100%;}

    #deletePoll { width: 80%;}

    .form-container h1 {width: 95%;}

    #delPollBtn{text-align: right;}
    
    #deletePoll input{ width: 100%; overflow: hidden;}
}